
.slider-styled,
.slider-styled .noUi-handle {
    box-shadow: none;
}

/* Hide markers on slider handles */
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}

.slider-styled .noUi-connect {
    background: darkseagreen;
} 

.slider-styled .noUi-handle .noUi-touch-area {
    border: 1px solid transparent;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    width: auto;
    height: auto;
}



/* Show a border when hovering the area the handle responds to */
.slider-styled .noUi-handle:hover .noUi-touch-area {
    border: 1px dashed #7f7f7f;
}


.slider-box-handle {
    border-radius: 0;
}

.slider-box-handle .noUi-handle {
    border-radius: 0;
    background: black;
    height: 18px;
    width: 4px;
    top: -1px;
    right: -2px;
}


.slider-hide .noUi-tooltip {
    display: none;
}
.slider-hide .noUi-active .noUi-tooltip {
    display: block;
}


.slider-no-handle .noUi-handle {
    visibility: hidden;
}



.slider-styled  .noUi-value-horizontal {
    -webkit-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px);
    writing-mode: vertical-lr;
}

.active-pip {
    font-weight: bold;
    color: black;
}

.noUi-pips-horizontal {
    margin-top: -6pt;
}
.noUi-value-large{
    font-size: small;
    margin-top: -6pt;
}
.noUi-value-sub{
    font-size: x-small;
}


.ui-timepicker-viewport{
    font-size: small;
}

.ui-timepicker-container{
    z-index: 9999 !important; /* Set a high z-index value */
}
  


.form-range::-moz-range-thumb {
    width: .7rem; 
    height: .7rem; 

}
.form-range::-moz-range-track {
    background: white;
    border: #adb5bd solid 1px;
    height: 0.2rem;
}


.form-range::-webkit-slider-thumb {
    width: .7rem; 
    height: .7rem;
}
.form-range::-webkit-slider-track {
    background: white;
    border: #adb5bd solid 1px;
    height: 0.2rem;
}

.form-range::-ms-thumb {
    width: .7rem; 
    height: .7rem; 
}
.form-range::-ms-track{
    background: white;
    border: #adb5bd solid 1px;
    height: 0.2rem;
} 





  